<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()">
  <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" *ngIf="!selectedData">Tạo nhóm người dùng</h5>
          <h5 class="modal-title" *ngIf="selectedData">Sửa thông tin nhóm người dùng</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" hasError="groupName">
                <label class="required">Tên Nhóm</label>
                <input type="text" class="form-control" formControlName="groupName">
                <div class="error-messages" errorMessage>
                  <div *ifError="'required'">Bạn phải nhập tên nhóm</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Mô Tả</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <div class="form-group">
                <checkbox text="Is Active ?" formControlName="active"></checkbox>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-blue" (click)="save()">
            <i class="fa fa-save"></i> Lưu
          </button>
          <button type="button" class="btn btn-light-grey" (click)="modal.hide()">
            <i class="fa fa-times"></i> Đóng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
