.form-row {
  background: whitesmoke;
  margin: 0px;
}

.button {
  background: whitesmoke;
}

.tabs {
  background: #deebf3;
}

.card-content-user {
  border: 1px solid #bdc3c7;
}

.button-user {
  border: 1px solid #bdc3c7;
}
.grid-table{
  padding-left: 2px;
  padding-right: 2px;
}
.panel-body{
  padding: 0px !important;
}
.tab-content{
  padding: 0px !important;
}
