<div pageTitle="Dealer Order">
  <form [formGroup]="form" *ngIf="form && currentDealerId" class="row" focusErrorField>
    <div class="col-sm-3 mb-3">
      <div class="form-group input-group">
        <span class="input-group-addon">Đại lý</span>
        <select formControlName="dealerId" class="form-control">
          <option *ngFor="let dlr of dealers" [ngValue]="dlr.id">{{dlr.abbreviation}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2 mb-3">
      <div class="form-group input-group">
        <span class="input-group-addon">Tháng</span>
        <month-picker  [model]="selectedDate" (modelChange)="generateDay($event)"></month-picker>
      </div>
    </div>
    <div class="col-sm-3 mb-3">
      <button class="btn btn-blue mr-2" (click)="search()"><i class="fa fa-search"> Search</i></button>
      <button type="button" class="btn btn-blue mr-2" (click)="exportData()">
        <i class="fa fa-download"> Export dữ liệu</i>
      </button>
    </div>
  </form>
  <div class="row" *ngIf="isTmv">
    <form novalidate autocomplete="off">
      <button type="button" class="btn btn-blue mr-2" (click)="salesTargetFleetModal.open()">
        <i class="fa fa-upload"> Import</i>
      </button>

      <button type="button" class="btn btn-blue mr-2" (click)="getImportTemplate()">
        <i class="fa fa-download"> Download template</i>
      </button>
    </form>
  </div>
  <sales-target-fleet-modal #salesTargetFleetModal></sales-target-fleet-modal>
  <div class="row">
    <div class="col-md-12">
      <div class="grid-table-area my-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-external-link-square"></i>
            Chỉ tiêu bán hàng TMV fleet
            <div class="panel-tools">
              <button role="button" class="btn btn-xs btn-link panel-refresh" (click)="search()">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
          </div>
          <grid-table [fieldGrid]="fielGridOrder" [height]="'500px'" [showPagination]="false"
                      [enableFilter]="true"
                      (callbackGrid)="callbackGridOrder($event)">
          </grid-table>
        </div>
      </div>
    </div>
  </div>
</div>
