::ng-deep.checkbox-padding{
  .checkbox{
    padding-left: 30px!important;
  }
}
.span-75{
  .input-group-addon{
    min-width: 75px;
  }
}
.span-120{
  .input-group-addon{
    min-width: 120px;
  }
}
.span-245{
  .input-group-addon{
    min-width: 245px;
  }
}
.span-450{
  .input-group-addon{
    min-width: 450px;
  }
}
