<div class="input-group" [ngClass]="className ? className : ''">
  <!-- <span class="input-group-addon" [style.minWidth]="addOnMinWidth" *ngIf="text">{{text}}</span> -->
  <div class="input-group-prepend" *ngIf="text">
    <span class="input-group-text">{{text}}</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="selectedValue" #datepicker="bsDatepicker"
         (blur)="onBlur($event)"
         [placement]="placement ? placement : 'bottom left'"
         [class.required]="isRequired"
         [disabled]="isDisabled ? true : null"
         [minDate]="minDate"
         [maxDate]="maxDate"
         [bsConfig]="dateInputFormat ? { dateInputFormat: dateInputFormat } : ''"
         (onShown)="onOpenCalendar($event); onShown($event)"
         bsDatepicker [outsideClick]="true" [outsideEsc]="true" (bsValueChange)="onValueChange($event)">
  <span *ngIf="!ignoredCalender" class="input-group-addon btn btn-light-grey"
        (click)="!isDisabled ? openDatepicker(): undefined"
        [attr.aria-expanded]="datepicker.isOpen">
    <i class="fa fa-calendar"></i>
  </span>
  <span *ngIf="showDeleteBtn" class="input-group-addon btn btn-dark-grey" (click)="remove()">
    <i class="fa fa-times"></i>
  </span>
</div>
