<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Chi tiết xuất hàng</h5>
      </div>
      <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
        <div class="modal-body">
          <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon same-addon-width">Kiểu</span>
                    <input type="text" class="form-control" formControlName="reqTypeLabel">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon same-addon-width">Mã số</span>
                    <input type="text" class="form-control" formControlName="code">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon same-addon-width">Biển số xe</span>
                    <input type="text" class="form-control" formControlName="vehicleNo">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon same-addon-width">Tên KH</span>
                    <input type="text" class="form-control" formControlName="cusName">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon same-addon-width">Điện thoại</span>
                    <input type="text" class="form-control" formControlName="phone">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon same-addon-width">Mã số thuế</span>
                    <input type="text" class="form-control" formControlName="taxNumber">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon same-addon-width">Địa chỉ</span>
                    <input type="text" class="form-control" formControlName="cusAddress">
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="panel panel-default" *ngIf="modal.isShown">
            <div class="panel-heading">
              <i class="fa fa-info"></i>
              Danh sách phụ tùng
            </div>
            <grid-table [fieldGrid]="fieldGrid" [height]="'300px'" [showPagination]="false"
                        (callbackGrid)="callBackGrid($event)"
            ></grid-table>
          </div>

        </div>
      </perfect-scrollbar>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-offset-8 col-md-4">
            <div class="row text-right">
              <div class="col-sm-8">
                <div class="form-group">
                  Trước thuế:
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  {{totalPriceBeforeTax}}
                </div>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  Thuế:
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  {{taxOnly}}
                </div>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  Sau thuế:
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  {{totalPriceIncludeTax}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
