.header-form {
  .col-lg-3 {
    padding-left: 0;

    &:first-child {
      padding-left: 15px;
    }
  }
  @media only screen and (max-width: 1199px) {
    .col-lg-3 {
      padding-left: 15px;
    }
  }
}

::ng-deep .is-edited {
  background: #ffdde1 !important;
}
