<div class="position-relative">
  <ag-grid-angular [ngStyle]="style"
                   #agGrid
                   style="width: 100%; height: 100%;"
                   id="myGrid"
                   class="ag-theme-balham"
                   [suppressHorizontalScroll]="isSuppressHorizontalScroll"
                   [columnDefs]="fieldGrid"
                   [rowClassRules]="rowClassRules"
                   [rowSelection]="rowSelection"
                   (rowClicked)="rowClicked.emit($event)"
                   (rowSelected)="rowSelected.emit($event)"
                   [suppressColumnVirtualisation]="true"
                   (selectionChanged)="onSelectionChanged($event)"
                   (cellClicked)="cellClickedEvent($event)"
                   (cellMouseDown)="cellMouseDownEvent($event)"
                   (cellDoubleClicked)="cellDoubleClickedEvent($event)"
                   (cellEditingStopped)="onCellEditingStopped($event)"
                   (cellEditingStarted)="onCellEditingStarted($event)"
                   (cellFocused)="onCellFocused($event)"
                   (cellKeyPress)="onCellKeyPress($event)"
                   [processCellForClipboard]="processCellForClipboard"
                   (cellValueChanged)="onCellValueChanged($event)"
                   (rowValueChanged)="onRowValueChanged($event)"
                   [floatingFilter]="enableFilter"
                   [enableFilter]="enableFilter"
                   [enableRangeSelection]="enableRangeSelection"
                   [enableCellChangeFlash]="enableCellChangeFlash"
                   [stopEditingWhenGridLosesFocus]="true"
                   [defaultColDef]="defaultColDef"
                   [detailRowHeight]="detailRowHeight"
                   [masterDetail]="masterDetail"
                   [paginationPageSize]="paginationPageSize ? paginationPageSize : tenTotal ? tenTotal : 20"
                   [pagination]="showPagination"
                   [suppressPaginationPanel]="true"
                   [suppressScrollOnNewData]="true"
                   [gridOptions]="topOptions"
                   [excelStyles]="excelStyles"
                   [groupSelectsChildren]="groupSelectsChildren"
                   (paginationChanged)="onPaginationChanged($event)"
                   (sortChanged)="onSortChanged($event)"
                   [suppressRowClickSelection]="suppressRowClickSelection"
                   [singleClickEdit]="false"
                   [detailCellRendererParams]="detailCellRendererParams"
                   (gridReady)="renderData($event)"
                   [overlayLoadingTemplate]="overlayLoadingTemplate"
                   [frameworkComponents]="frameworkComponents"
                   [rowMultiSelectWithClick] ="rowMultiSelectWithClick"
                   (filterModified)="filterModified($event)"
                   (columnResized)="onColumnResized($event)"
                   [suppressDragLeaveHidesColumns]="true"
                   (keyup)="onKeyUp($event)"
                   (keydown)="onKeyDown($event)"
                   [headerHeight]="headerHeight"
                   [groupHeaderHeight]="groupHeaderHeight"
                   [editType]="editType"
                   [tabToNextCell]="tabToNextCell"
                   [navigateToNextCell]="navigateToNextCell"
                   [autoGroupColumnDef]="autoGroupColumnDef"
                   [groupDefaultExpanded]="groupDefaultExpanded"
                   [groupSelectsFiltered]="groupSelectsFiltered"
                   (focus)="focus($event)"
                   [groupMultiAutoColumn]="groupMultiAutoColumn"
                   [rowHeight]="getRowHeight"
  ></ag-grid-angular>

  <ag-grid-angular
    *ngIf="footerData"
    style="width: 100%; height: 40px"
    #bottomGrid
    [gridOptions]="bottomOptions"
    class="ag-theme-balham grid-footer"
    [toolPanelSuppressSideButtons]="true"
    headerHeight="0"
    [rowData]="footerData"
    [rowStyle]="{ fontWeight: 'bold' }"
    [columnDefs]="footerFieldGrid"
    (gridReady)="renderFooterData($event)">
  </ag-grid-angular>

  <pagination
    *ngIf="showPagination"
    [addTotallk]="addTotallk"
    [disablePagination]="disablePagination"
    [paginationParams]="paginationParams"
    [paginationTotalsData]="paginationTotalsData"
    [totalData]="totalData"
    [isHaveOwnerTotals]="isHaveOwnerTotals"
    [params]="params"
    [tenTotal]="tenTotal"
    [morePageSize]=morePageSize
    (changePaginationParams)="changePaginationParams.emit($event)"
  ></pagination>
</div>
