.address {
  width: 100%;
  & > div:nth-child(1) {
    width: 47%;
    float: left;
    display: table;
  }
  & > div:nth-child(2) {
    width: 28%;
    float: left;
    display: table;
  }
  & > div:nth-child(3) {
    width: 25%;
    float: left;
    display: table;
  }
  & > div:not(:first-child) .input-group-addon {
    border-radius: 0;
    min-width: 0;
    padding: 6px 6px;
  }

}

.phone {
  width: 100%;
  & > div:nth-child(1) {
    width: 40%;
    float: left;
    display: table;
  }
  & > div:nth-child(2), div:nth-child(3) {
    width: 30%;
    float: left;
    display: table;
  }
  & > div:not(:first-child) .input-group-addon {
    border-radius: 0;
    min-width: 0;
    padding: 6px 6px;
  }
}
