<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{webCsiList ? '[Web]-' : ''}} Danh sách khách hàng khảo sát CSI
    </div>
    <div class="panel-body">
      <form *ngIf="form" [formGroup]="form" autocomplete="off" novalidate>
        <div class="row">
          <div class="col-sm-4 form-group">
            <div class="input-group">
              <tmss-datepicker text="Ngày giao xe từ" formControlName="deliveryDate"></tmss-datepicker>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <div class="input-group">
              <tmss-datepicker text="Đến ngày" formControlName="dayOut"></tmss-datepicker>
            </div>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-blue" (click)="search()"><i class="fa fa-search"></i> Tìm kiếm</button>
            <button class="btn btn-blue ml-2"><i class="fa fa-refresh"></i> Làm mới</button>
          </div>
        </div>
      </form>
    </div>
    <grid-table
      [fieldGrid]="fieldGridCsiList"
      (callbackGrid)="callBackGridCsiList($event)"
      (getParams)="getParamsCsiList()"
    ></grid-table>
    <div class="panel-footer">
      <button class="btn btn-blue"><i class="clip-file-excel"></i> Xuất Excel</button>
    </div>
  </div>
</div>
