<div class="modal fade" bsModal #colorAssignmentModal="bs-modal" (onHidden)="reset()">
  <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" focusErrorField>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" *ngIf="!selectedData">Add New Color</h5>
          <h5 class="modal-title" *ngIf="selectedData">Update Color Assignment of Grade</h5>
        </div>
        <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
          <div class="modal-body">
            <div class="form-group" hasError="colorId">
              <div class="input-group">
                <label class="input-group-addon" addonWidth="80px">Color</label>
                <select class="required form-control" formControlName="colorId" [compareWith]="compareFn"
                        autoFocusField>
                  <option value=""></option>
                  <option *ngFor="let color of colors" [ngValue]="color.id">
                    {{color.code}}
                  </option>
                </select>
              </div>
              <div class="error-messages" errorMessage>
                <div *ifError="'required'">Color is required</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <label class="input-group-addon" addonWidth="80px">VN Name</label>
                <input formControlName="vnName" class="form-control">
              </div>
            </div>
            <div class="form-group" hasError="ordering">
              <div class="input-group">
                <label class="input-group-addon" addonWidth="80px">Ordering</label>
                <input type="text" class="form-control" formControlName="ordering">
              </div>
              <div class="error-messages" errorMessage>
                <div *ifError="'numberFormat'">Ordering must be a number</div>
                <div *ifError="'maxLength'">Max length is 4</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <label class="input-group-addon" addonWidth="80px">Status</label>
                <select class="form-control" formControlName="status">
                  <option value="Y">Enable</option>
                  <option value="N">Disable</option>
                </select>
              </div>
            </div>
            <div class="form-group" hasError="description">
              <div class="input-group">
                <label class="input-group-addon" addonWidth="80px">Description</label>
                <textarea rows="3" class="form-control resize-vertical" formControlName="description"></textarea>
              </div>
              <div class="error-messages" errorMessage>
                <div *ifError="'maxLength'">Max length is 255</div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="modal-footer">
          <button class="btn btn-blue" type="submit" (click)="save()">
            <i class="fa fa-save"></i> Save
          </button>
          <button class="btn btn-blue" (click)="modal.hide()">
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
