<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Import kết quả đợt khảo sát SSI [Danh sách]</h5>
      </div>
      <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
        <div class="modal-body">
          <form *ngIf="form" [formGroup]="form" autocomplete="off" novalidate>
            <div class="input-group form-group">
              <span class="input-group-addon">Kết quả</span>
              <select class="form-control" formControlName="surveyResult">
                <option value="1" selected>Survey trên web</option>
              </select>
            </div>
            <file-uploader *ngIf="modal.isShown" acceptType=".csv"
                           [apiCallUpload]="apiCallUpload.bind(this)"
                           (responseUpload)="uploadSuccess()"
                           (errorUpload)="uploadFail($event)"
            ></file-uploader>
          </form>
        </div>
      </perfect-scrollbar>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-grey" (click)="modal.hide()">
          <i class="fa fa-times"></i> Đóng
        </button>
      </div>
    </div>
  </div>
</div>
