<form class="row" [formGroup]="form" *ngIf="form" novalidate autocomplete="off" focusField>
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Loại đặt hàng</span>
        <select class="form-control" formControlName="type" (select)="search()" (change)="checkType()">
          <option [ngValue]="0">Đặt hàng BO cho lệnh sửa chữa</option>
          <option [ngValue]="1">Đặt hàng BO cho bán lẻ</option>
          <option [ngValue]="2">Đặt hẹn</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Biển số xe</span>
        <input class="form-control" formControlName="registerNo">
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Số RO</span>
        <input class="form-control" formControlName="ro">
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <button type="submit" class="btn btn-blue" (click)="resetPaginationParams(); search()">
      <i class="fa fa-search"></i> Tìm kiếm
    </button>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-info"></i>
    Danh sách RO có phụ tùng cần đặt hàng B/O
    <div class="panel-tools">
      <button type="button" class="btn btn-link" data-toggle="collapse"
              data-target="#collapseBoPartOrder" aria-expanded="true">
      </button>
    </div>
  </div>
  <div id="collapseBoPartOrder" class="panel-collapse collapse in">

    <grid-table [fieldGrid]="fieldGridOrder" [height]="'500px'" [sizeColumnToHeaderWidth]="true"
                (callbackGrid)="callbackRequest($event)"
                (getParams)="getParamsRequest()"
                [groupMultiAutoColumn]="true"
                [ignoreFitColumn]="true"
                [paginationTotalsData]="paginationTotalsData"
                (changePaginationParams)="changePaginationParams($event)"></grid-table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row text-right">
      <div class="col-xs-4 detail">
        Trước thuế: <strong>{{totalPriceBeforeTax}}</strong>
      </div>
      <div class="col-xs-4 detail">
        + Thuế: <strong>{{taxOnly}}</strong>
      </div>
      <div class="col-xs-4 detail">
        = Sau thuế: <strong>{{totalPriceIncludeTax}}</strong>
      </div>
    </div>
  </div>
</div>
<div class="text-right">
  <button class="btn btn-blue" [disabled]="!selectedOrder" (click)="placeOrder()">
    <i class="fa fa-shopping-cart"></i> Đặt hàng
  </button>
</div>
<bo-parts-detail-request #boPartsDetailRequest (close)="refreshAfterOrder($event)"></bo-parts-detail-request>
