<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()">
  <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" focusErrorField>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="title-header">Save Filter Detail</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12" hasError="name">
              <div class="form-group input-group">
                <label class="input-group-addon">Filter Name</label>
                <input type="text" class="form-control required" formControlName="name">
              </div>
              <div class="error-messages" errorMessage>
                <div *ifError="'required'">Filter Name is required</div>
                <div *ifError="'maxLength'">Max length is 255</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-blue" (click)="save()">
            <i class="fa fa-save"></i> Save
          </button>
          <button type="button" class="btn btn-blue" (click)="modal.hide()">
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
