<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="params.api.setRowData()">
  <div class="modal-dialog lg-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Danh sách xe bất thường</h5>
      </div>
      <div class="modal-body">
            <grid-table [fieldGrid]="fieldGrid"
                        (callbackGrid)="callbackGrid($event)"
                        [showPagination]="false"
                        (cellDoubleClicked)="onCellDoubleClicked($event)"
                        (getParams)="getParams()">
            </grid-table>
          </div>
        </div>
  </div>
</div>
