.modal {
  position: absolute;
  top: 25%;
}
.span-115{
  .input-group-addon{
    min-width: 115px;
  }
}
.border-emp {
  border-color: #eee;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}
.background_red {
  background-color: red;
}