<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()" [config]="{ignoreBackdropClick : 'Disable'}">
  <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Lịch sử liên hệ
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-info"></i>
                Thông tin tìm kiếm
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">Đại lý</span>
                            <select class="form-control" formControlName="sortAgency">
                              <option>TGP-ND</option>
                              <option>THTL</option>
                              <option>TTG</option>
                              <option>THHC</option>
                              <option>THKC</option>
                              <option>TGP</option>
                              <option>TGP_PV</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">VIN</span>
                            <input type="text" class="form-control" formControlName="errorVin">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">Trạng thái</span>
                            <select class="form-control" formControlName="errorStatus">
                              <option>Chưa L/H</option>
                              <option>L/H thành công</option>
                              <option>L/H chưa thành công</option>
                              <option>L/H không thành công</option>
                              <option>Không liên hệ</option>
                              <option>(Select All)</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">Biển kiểm soát</span>
                            <input type="text" class="form-control" formControlName="licensePlates">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <tmss-datepicker text="Ngày LH từ" formControlName="dateTime"></tmss-datepicker>
                    </div>
                    <div class="form-group">
                      <tmss-datepicker text="Đến" formControlName="dateTime"></tmss-datepicker>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-blue">
                  <i class="fa fa-search"></i> Tìm kiếm
                </button>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-info"></i>
                Thông tin lịch sử liên hệ
              </div>
              <div class="panel-body">
                <grid-table [fieldGrid]="fieldGrid" [height]="'150px'"
                            (callbackGrid)="callbackGrid($event)"
                            (getParams)="getParams()"
                ></grid-table>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="modal-footer">
          <button class="btn btn-blue" type="submit">
            <i class="clip-file-excel mr-2"></i>Xuất Excel
          </button>
          <button type="button" class="btn btn-light-grey" (click)="modal.hide()">
            <i class="fa fa-power-off mr-2"></i>Đóng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
