.panel-body ::ng-deep .ag-row.row-marked .ag-cell {
  background-color: #FFFFCC !important;
}

.input-group-addon {
  min-width: 90px;
}

::ng-deep .cell-warning {
  background-color: #f54d55 !important
}
