<div class="position-relative">
  <ag-grid-angular [ngStyle]="style"
                   #agGrid
                   style="width: 100%;"
                   id="myGrid"
                   class="ag-theme-balham"
                   [columnDefs]="fieldGrid"
                   [rowClassRules]="rowClassRules"
                   rowSelection="single"
                   [floatingFilter]="true"
                   [suppressColumnVirtualisation]="true"
                   (selectionChanged)="onSelectionChanged($event)"
                   (cellClicked)="cellClickedEvent($event)"
                   (cellDoubleClicked)="cellDoubleClickedEvent($event)"
                   (cellEditingStopped)="cellEditingStopped.emit($event)"
                   [enterMovesDownAfterEdit]="true"
                   [stopEditingWhenGridLosesFocus]="true"
                   [defaultColDef]="defaultColDef"
                   [detailRowHeight]="detailRowHeight"
                   [masterDetail]="masterDetail"
                   [paginationPageSize]="20"
                   [pagination]="showPagination"
                   [suppressPaginationPanel]="true"
                   [suppressScrollOnNewData]="true"
                   (paginationChanged)="onPaginationChanged($event)"
                   (sortChanged)="onSortChanged($event)"
                   [suppressRowClickSelection]="suppressRowClickSelection"
                   [singleClickEdit]="false"
                   [detailCellRendererParams]="detailCellRendererParams"
                   (gridReady)="renderData($event)"
                   [overlayLoadingTemplate]="overlayLoadingTemplate"
                   [frameworkComponents]="frameworkComponents"
                   (filterModified)="filterModified($event)"
                   (columnResized)="onColumnResized($event)"
                   [suppressDragLeaveHidesColumns]="true"
                   (keyup)="copyCell($event)"
                   (keydown)="onKeyDown($event)"
                   (cellMouseOver)="onCellMouseOver($event)"
                   (cellMouseOut)="onCellMouseOut($event)"
                   (cellMouseDown)="onCellMouseDown($event)"
                   (cellValueChanged)="onCellValueChanged($event)"
                   [groupMultiAutoColumn]="groupMultiAutoColumn"
                   [excelStyles]="excelStyles"
  ></ag-grid-angular>

  <pagination
    *ngIf="showPagination"
    [paginationParams]="paginationParams"
    [paginationTotalsData]="paginationTotalsData"
    [totalData]="totalData"
    [isHaveOwnerTotals]="isHaveOwnerTotals"
    [params]="params"
    [morePageSize]=morePageSize
    (changePaginationParams)="changePaginationParams.emit($event)"
  ></pagination>

</div>
