::ng-deep {
  .input-group-addon:first-child {
    min-width: 100px !important;
  }
  .err-mess {
    color: red !important;
  }
}

.import-group {
  position: relative;
  .form-control-file {
    width: calc(100% - 120px);
  }
  .btn {
    position: absolute;
    right: 15px;
    bottom: 0;
  }
}
