<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()">
  <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" focusField>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title"><strong>{{selectedData ? 'Cập nhật thông tin dòng xe' : 'Thêm mới dòng xe'}}</strong></h5>
        </div>
        <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
          <div class="modal-body">
            <div class="form-group" hasError="cfCode">
              <div class="input-group">
                <label class="input-group-addon">Mã dòng xe</label>
                <input class="form-control required" formControlName="cfCode">
              </div>
              <div class="error-messages" errorMessage>
                <div *ifError="'required'">Yêu cầu phải nhập</div>
                <div *ifError="'maxLength'">Tối đa 20 kí tự</div>
                <div *ifError="'specialCharacter'">Không được phép chứa kí tự đặc biệt</div>
              </div>
            </div>
            <div class="form-group" hasError="cfName">
              <div class="input-group">
                <label class="input-group-addon">Tên dòng xe</label>
                <input class="form-control" formControlName="cfName">
              </div>
              <div class="error-messages" errorMessage>
                <div *ifError="'maxLength'">Tối đa 50 kí tự</div>
                <div *ifError="'specialCharacter'">Không được phép chứa kí tự đặc biệt</div>
              </div>
            </div>
            <div class="form-group" hasError="cfType">
              <div class="input-group">
                <label class="input-group-addon">Loại</label>
                <select class="form-control" formControlName="cfType">
                  <option *ngFor="let type of carTypes" [ngValue]="type.id">{{type.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="modal-footer">
          <button class="btn btn-blue" type="submit" (click)="save()">
            <i class="fa fa-save"></i> Lưu
          </button>
          <button class="btn btn-light-grey" (click)="modal.hide()">
            <i class="fa fa-times"></i> Hủy
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
