<div class="mt-2 panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-info"></i>
    Set Monthly average order talking frequency (Unit: Count/Month)
    <div class="panel-tools">
      <button type="button" class="btn btn-link" data-toggle="collapse"
              data-target="#collapseSet" aria-expanded="true">
      </button>
    </div>
  </div>
  <div id="collapseSet" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="input-group p-2">
        <span class="input-group-addon min-width">0.0 < D <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width">=< C <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width">=< B <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon">=< A < 99999.99</span>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-info"></i>
    ICC A Monthly average order talking frequency (Unit: Count/Month)
    <div class="panel-tools">
      <button type="button" class="btn btn-link" data-toggle="collapse"
              data-target="#collapseICC" aria-expanded="true">
      </button>
    </div>
  </div>
  <div id="collapseICC" class="panel-collapse collapse in">
    <div class="panel-body">

      <div class="input-group p-2">
        <span class="input-group-addon min-width-icc">0.0 < A3 <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width-icc">=< A2 <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width-icc">=< A1 < 9999.99</span>
      </div>

      <div class="input-group p-2">
        <span class="input-group-addon min-width-icc">0.0 < B3 <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width-icc">=< B2 <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width-icc">=< B1 < 9999.99</span>
      </div>

      <div class="input-group p-2">
        <span class="input-group-addon min-width-icc">0.0 < C3 <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width-icc">=< C2 <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width-icc">=< C1 < 9999.99</span>
      </div>

      <div class="input-group p-2">
        <span class="input-group-addon min-width-icc">0.0 < D3 <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width-icc">=< D2 <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width-icc">=< D1 < 9999.99</span>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-info"></i>
    Non-flow Grade Setting (Unit: Month)
    <div class="panel-tools">
      <button type="button" class="btn btn-link" data-toggle="collapse"
              data-target="#collapseNon" aria-expanded="true">
      </button>
    </div>
  </div>
  <div id="collapseNon" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="input-group p-2">
        <span class="input-group-addon min-width">6 < E <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width">=< F <</span>
        <input type="text" class="form-control">
        <span class="input-group-addon min-width">=< D1 < 999</span>
      </div>
    </div>
  </div>
</div>
