<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset() "
     [config]="{ backdrop: 'static',keyboard:false }">
  <div class="modal-dialog xl-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Lexus trả hàng cho đại lý</h5>
      </div>
      <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
        <div class="modal-body">
          <div class="mt-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-info"></i>
                Danh sách đơn hàng
              </div>
              <grid-table *ngIf="modal.isShown" [fieldGrid]="fieldInvoiceList"
                          (callbackGrid)="callbackInvoice($event)"
                          (getParams)="getParamsInvoice()"
                          height="250px"
                          [isSuppressHorizontalScroll]="true"
              ></grid-table>
            </div>
          </div>
          <div class="mt-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-info"></i>
                Danh sách phụ tùng
              </div>
              <grid-table *ngIf="modal.isShown" [fieldGrid]="fieldPartsList" #partGridTable
                          (callbackGrid)="callbackParts($event)"
                          suppressRowClickSelection="true"
                          (getParams)="getParamsParts()"
                          (cellValueChanged)="cellPartsValueChange($event)"
                          (cellEditingStopped)="cellEditingStopped()"
                          (cellEditingStarted)="cellEditingStarted()"
                          height="250px"
                          rowSelection="multiple"
              ></grid-table>
            </div>
          </div>


        </div>
      </perfect-scrollbar>
      <div class="modal-footer">
        <div class="btns-group text-center">
          <button class="btn btn-blue btn-primary px-4" (click)="showDeliveryOrder()"
                  [disabled]="startEditing"><i class="fa fa-eye"></i> Xem số phiếu đơn hàng
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<lexus-delivery-order-modal #deliveryOrderModal (receive)="refreshData()"></lexus-delivery-order-modal>
<!--<warranty-new-claim #claimDetailModal></warranty-new-claim>-->

