<form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-info"></i>
      Thông tin tìm kiếm
      <div class="panel-tools">
        <button type="button" class="btn btn-link" data-toggle="collapse"
                data-target="#collapseRegisTestDrive" aria-expanded="true">
        </button>
      </div>
    </div>
    <div id="collapseRegisTestDrive" class="panel-collapse collapse in">

      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Trạng thái xác nhận</span>
                <select class="form-control" formControlName="statusConfirm">
                  <option></option>
                  <option>Đã xác nhận</option>
                  <option>Chưa xác nhận</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <button type="button" class="btn btn-blue">
              <i class="fa fa-search"></i>
              Tìm kiếm
            </button>
          </div>
        </div>

        <grid-table [fieldGrid]="fieldGrid" [height]="'250px'"
                    (callbackGrid)="callbackGrid($event)"
                    (getParams)="getParams()"
        ></grid-table>
      </div>
    </div>
  </div>

  <div class="panel-footer text-right">
    <button class="btn btn-blue mr-2" (click)="registestDriveDetail.open()">
      <i class="fa fa-plus"></i> Thêm
    </button>
    <button class="btn btn-blue mr-2" (click)="editRegisTestDrive()">
      <i class="fa fa-pencil"></i> Sửa
    </button>
    <button class="btn btn-blue" (click)="deleteRegisTestDrive()">
      <i class="fa fa-trash-o"></i> Xóa
    </button>
  </div>
</form>
<regis-test-drive-detail #registestDriveDetail
                         (close)="selectedData? updateRegisTestDrive($event):addNewRegisTestDrive($event)"
></regis-test-drive-detail>

