<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()">
  <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">Phân Nhóm</h5>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label>Tên Nhóm</label>
            <multi-column-select-control formControlName="groupControl" displayField="groupName"
                                         [enableFilter]="true"
                                         [fieldGrid]="fieldGridGroupList"
                                         [list]="systemGroupList">
            </multi-column-select-control>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-blue" (click)="save()">
            <i class="fa fa-check"></i> Đồng ý
          </button>
          <button type="button" class="btn btn-light-grey" (click)="modal.hide()">
            <i class="fa fa-times"></i> Đóng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
