<div class="row">
  <div class="col-sm-6">
    <quick-search-by-one-field
      textLabel="Biển số" addOnMinWidth="65px"
      fieldSearch="registerno" [arraySearch]="cashiers"
      (resultSearch)="patchDataToGrid($event)"
    ></quick-search-by-one-field>

    <form [formGroup]="searchForm" *ngIf="searchForm" novalidate autocomplete="off">
      <div class="form-group">
        <div class="input-group">
          <label class="input-group-addon" addonWidth="65px">Lọc</label>
          <div class=" double-input-7-3">
            <select class="form-control" formControlName="fieldSort">
              <option [ngValue]="null">DEFAULT</option>
              <option value="DATE_CLOSE">Ngày đóng RO</option>
              <option value="REGISTERNO">Biển số xe</option>
            </select>
            <select class="form-control" formControlName="sortType">
              <option value="asc">Tăng</option>
              <option value="desc">Giảm</option>
            </select>
          </div>
        </div>
      </div>
    </form>

    <grid-table [fieldGrid]="gridField"
                (getParams)="getParams()"
                (callbackGrid)="callbackGrid($event)"
                (changePaginationParams)="changePaginationParams($event)"
                [paginationTotalsData]="paginationTotalsData"
                [height]="'190px'"
    ></grid-table>
    <div class="text-right mt-2">
      <button type="button" class="btn btn-blue mr-2" (click)="refreshInvoice()">
        <i class="fa fa-refresh"></i> Refresh
      </button>
      <button type="button" class="btn btn-blue mr-2" (click)="reportTypeModal.open(1)" [disabled]="!invoiceCusId">
        <i class="fa fa-print"></i> In hóa đơn
      </button>
      <button type="button" class="btn btn-blue" (click)="checkResidualRO()">
        <i class="fa fa-print"></i> In giấy ra cổng
      </button>
    </div>
  </div>
  <div class="col-sm-6">
    <form class="cashier-form" [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-info"></i>
          Thông tin Khách hàng
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">DLRNO</span>
              <input class="form-control" formControlName="dlrno">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Số lệnh sửa chữa">Số LSC</span>
              <input class="form-control" formControlName="roNum">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Khách hàng</span>
              <input class="form-control" formControlName="cusname">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Mã số thuế</span>
              <input class="form-control" formControlName="custaxno">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Địa chỉ</span>
              <input class="form-control" formControlName="cusadd">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Lý do</span>
              <textarea rows="2" class="form-control" formControlName="reason"></textarea>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-6 form-group">
              <div class="input-group">
                <span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Chi phí vật tư">CP vật tư</span>
                <input class="form-control" formControlName="costMaterial">
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <div class="input-group">
                <span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Công lao động">Công LĐ</span>
                <input class="form-control" formControlName="costLabor">
              </div>
            </div>
          </div>
          <div class="form-group search-group">
            <div class="input-group">
              <span class="input-group-addon emphasize">Tổng tiền chưa thuế</span>
              <input class="form-control" formControlName="debttotal">
            </div>
            <button class="btn btn-blue" (click)="createInvoice()"
                    [disabled]="invoiceCusId || !selectedCashier">
              Tạo hóa đơn
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<cashier-detail #cashierDetail (invoiceCusId)="setInvoiceCusId($event)"></cashier-detail>
<go-out-gate-printing #goOutGatePrinting (print)="printOutGate($event)"></go-out-gate-printing>
<report-type-modal #reportTypeModal (close)="printInvoice($event)"></report-type-modal>
