<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()" style="z-index: 99999 !important;">
  <div class="modal-dialog lg-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Tải lên file đính kèm</h5>
      </div>
      <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
        <div class="modal-body">
          <form [formGroup]="fileUploadForm" *ngIf="dlr_id != -1">
            <div class="search-group">
              <div class="input-group">
                <span class="input-group-addon">File</span>
                <input type="text" class="form-control" formControlName="fileNames" readonly>
                <span class="input-group-btn">
                <button class="btn btn-light-grey" id="btn-choose-File" type="button" (click)="importFile()">
                  <i class=" fa fa-file"></i> Chọn file
                </button>
              </span>
              </div>
              <button class="btn btn-blue" (click)="uploadFile()">
                <i class="fa fa-upload"></i> Tải lên
              </button>
              <input type="file" class="ghost" formControlName="files" #fileInput (change)="onFilesAdded()"/>
            </div>
          </form>

          <br>

          <div class="panel panel-default" *ngIf="modal.isShown">
            <div class="panel-heading">
              <i class="fa fa-info"></i>
            </div>
            <grid-table [fieldGrid]="fieldGrid" (callbackGrid)="callbackGrid($event)"
                        [frameworkComponents]="frameworkComponents"></grid-table>
          </div>

        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
