<form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" class="mt-2">
  <div class="row">
    <div class="col-sm-6 form-group">
      <div class="input-group">
        <span class="input-group-addon">Mã PT</span>
        <input class="form-control" formControlName="partsCode" autofocus>
      </div>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-blue" (click)="search()"><i class="fa fa-search"></i> Tìm kiếm</button>
    </div>
  </div>
</form>


<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-info"></i> Danh sách phụ tùng
    <div class="panel-tools">
      <button type="button" class="btn btn-link" data-toggle="collapse"
              data-target="#collapseLexusPartPriceManagement" aria-expanded="true">
      </button>
    </div>
  </div>
  <div id="collapseLexusPartPriceManagement" class="panel-collapse collapse in">
    <grid-table [fieldGrid]="fieldGrid" [ignoreFitColumn]="true"
                (callbackGrid)="callBackGrid($event)"
                (getParams)="getParams()"
                [paginationTotalsData]="paginationTotalsData"
                (changePaginationParams)="changePaginationParams($event)"
    ></grid-table>
  </div>
</div>

<div class="mt-2 text-right">
  <button class="btn btn-blue" (click)="updatePrice()"> Tỷ lệ</button>
  <button class="btn btn-blue ml-2" (click)="importData()">
    <i class="fa fa-upload"></i> Import
  </button>
  <button class="btn btn-blue ml-2" (click)="exportData()">
    <i class="fa fa-download"></i> Xuất
  </button>
</div>

<price-update #updatePriceModal (close)="search()"></price-update>
<import-price-modal #importPriceModal></import-price-modal>
