<div class="modal fade" bsModal #importModal="bs-modal" [config]="{ backdrop: 'static' }"
     (onHidden)="resetImportFile()">
  (onHidden)="resetImportFile()">
  <div class="modal-dialog modal-lg modal-import" role="document">
    <form name="form" novalidate autocomplete="off">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">Import Dealer Color Request</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group input-group">
                <label class="input-group-addon">File name</label>
                <input class="form-control pt-1" type="file" accept=".xls, .xlsx" ng2FileSelect #fileUpLoad
                       [uploader]="uploader"
                       (change)="fileChangeEvent($event)">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group input-group">
                <button type="button" class="btn btn-blue mr-2"
                        [disabled]="this.filesToUpload && this.filesToUpload.length < 1" (click)="uploadFile()">
                  Load
                </button>
              </div>
            </div>
          </div>
          <div class="grid-table">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>
                Dữ liệu
              </div>
              <grid-table [showPagination]="false" [fieldGrid]="fieldGrid" (getParams)="getParamsUpload()"
                          (callbackGrid)="callbackGrid($event)">
              </grid-table>
            </div>
          </div>
        </div>
        <div class="modal-footer px-3 py-2">
          <button type="button" class="btn btn-blue mr-2" (click)="saveFile()"
                  [disabled]="disableSave">
            <i class="fa fa-save"></i>
            Save
          </button>
          <button class="btn btn-blue mr-2" (click)="importModal.hide()">
            <i class="clip-cancel-circle-2"></i> Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
