<form [formGroup]="searchForm" *ngIf="searchForm" novalidate autocomplete="off">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Mã phụ tùng</span>
              <input type="text" class="form-control" formControlName="partsCode" (change)="deleteCharacterSpecial($event.target.value)">
            </div>
            <small><i>Định dạng nhập: ABC12345,CDE23456,...</i></small>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Loại</span>
              <select type="text" class="form-control" formControlName="type">
                <option [ngValue]="1">ĐC Tăng</option>
                <option [ngValue]="2">ĐC Giảm</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <button type="submit" class="btn btn-blue mr-2" (click)="resetPaginationParams(); search()">
          <i class="fa fa-search"></i> Tìm kiếm
        </button>
        <button type="button" class="btn btn-blue mr-2" (click)="submitAdjustmentForm()">
          <i class="fa fa-long-arrow-up"></i> ĐC Tăng
        </button>
        <button type="button" class="btn btn-blue" (click)="submitAdjustmentForm('decrease')">
          <i class="fa fa-long-arrow-down"></i> ĐC Giảm
        </button>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-info"></i>
        Thông tin phụ tùng
        <div class="panel-tools">
          <button type="button" class="btn btn-link" data-toggle="collapse"
            data-target="#collapsePartInStockAdjustmentPartInfo" aria-expanded="true">
          </button>
        </div>
      </div>
      <div id="collapsePartInStockAdjustmentPartInfo" class="panel-collapse collapse in">

        <grid-table [fieldGrid]="fieldGridPartsInfo" [height]="'195px'" (callbackGrid)="callBackGridPartsInfo($event)"
          (getParams)="getParamsPartsInfo()" [paginationTotalsData]="paginationTotalsData"
          (changePaginationParams)="changePaginationParams($event)"></grid-table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-info"></i>
        Thông tin điều chỉnh
        <div class="panel-tools">
          <button type="button" class="btn btn-link" data-toggle="collapse"
            data-target="#collapsePartInStockAdjustmentInfo" aria-expanded="true">
          </button>
        </div>
      </div>
      <div id="collapsePartInStockAdjustmentInfo" class="panel-collapse collapse in">
        <div class="panel-body">
          <form [formGroup]="partAdjustmentForm" *ngIf="partAdjustmentForm" novalidate autocomplete="off">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon same-addon-width" data-toggle="tooltip" data-placement="bottom"
                  title="Số lượng trước điều chỉnh">SL Trước ĐC</span>
                <input type="text" class="form-control" formControlName="qty">

              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon same-addon-width">Tình trạng</span>
                <input type="text" class="form-control" formControlName="instocktype">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon same-addon-width">Vị trí</span>
                <input type="text" class="form-control" formControlName="locationNo">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon same-addon-width">MAD</span>
                <input type="text" class="form-control" formControlName="mad">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon same-addon-width">MIP</span>
                <input type="text" class="form-control" formControlName="mip">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon same-addon-width" data-toggle="tooltip" data-placement="bottom"
                  title="Số lượng sau điều chỉnh">SL Sau ĐC</span>
                <input type="text" class="required form-control" formControlName="adjustQty" (change)= "adjustQtyChange($event.target.value)">
                <!-- <tmss-money-input class="required form-control" formControlName="adjustQty" fieldAccessor="input"></tmss-money-input> -->
                <!-- <tmss-money-input [maxLength]="5" [isRequired]="true"
                  formControlName="adjustQty" fieldAccessor="input"></tmss-money-input> -->
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon same-addon-width" data-toggle="tooltip" data-placement="bottom"
                  title="Lý do điều chỉnh">Lý do ĐC</span>
                <input type="text" class="required form-control" formControlName="adjustReason">
              </div>
            </div>
            <button type="submit" #submitAdjustmentFormBtn class="d-none"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-info"></i>
    Lịch sử thay đổi
    <div class="panel-tools">
      <button type="button" class="btn btn-link" data-toggle="collapse"
        data-target="#collapsePartInStockAdjustmentHistoryChange" aria-expanded="true">
      </button>
    </div>
  </div>
  <div id="collapsePartInStockAdjustmentHistoryChange" class="panel-collapse collapse in">
    <grid-table [fieldGrid]="fieldGridPartHistory" [height]="'300px'" [showPagination]="false"
      (callbackGrid)="callBackGridPartHistory($event)"></grid-table>
  </div>
</div>
