<div class="modal fade" bsModal #importModal="bs-modal" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg modal-import" role="document">
    <form [formGroup]="form" *ngIf="form" name="form" novalidate autocomplete="off">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">Tải dữ liệu rundown file</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 mb-3" hasError="currentDate">
              <tmss-month-year-sale text="Month" formControlName="currentDate" [isMonth]="true"
                               [isRequired]="true"
                               addOnMinWidth="80px"></tmss-month-year-sale>
              <div class="error-messages" errorMessage>
                <div *ifError="'required'">Month is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer px-3 py-2">
          <button type="button" class="btn btn-blue mr-2" (click)="downloadFile()">
            <i class="fa fa-save"></i>
            Download
          </button>
          <button class="btn btn-blue mr-2" (click)="closeModal()">
            <i class="clip-cancel-circle-2"></i> Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
