.mw-63 {
  .input-group-addon {
    min-width: 63px;
  }
}
.mw-78 {
  .input-group-addon {
    min-width: 78px;
  }
}
.mw-86 {
  .input-group-addon {
    min-width: 86px;
  }
}
.max-width{
  max-width: 100px !important;
}
.padding{
  padding-right: 5px;
  padding-left: 5px;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.center-text {
  text-align: center;
}

.w-180 {
  width: 180px !important;
}

.w-100 {
  width: 100px !important;
}

.button-center {
  display: block;
  margin: auto;
}

.modal-dialog-centered {
  top: 30%;
}