<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-info"></i>
    Gói Công Việc
    <div class="panel-tools">
      <button type="button" class="btn btn-link" data-toggle="collapse"
              data-target="#collapseRepairJobDetailCombo" aria-expanded="true">
      </button>
    </div>
  </div>
  <div id="collapseRepairJobDetailCombo" class="panel-collapse collapse in">
    <grid-table [fieldGrid]="jobGroupField"
                (callbackGrid)="callbackGridJG($event)"
                (getParams)="getParamsJG()"
                [showPagination]="false"
                [height]="'250px'"
    ></grid-table>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-blue mr-2">Chấp nhận</button>
    <button class="btn btn-blue">
        <i class="fa fa-trash-o"></i> Xóa</button>
  </div>
</div>

<!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
    <!--<i class="fa fa-info"></i>-->
    <!--Danh sách công việc-->
    <!--<div class="panel-tools">-->
      <!--<button type="button" class="btn btn-link" data-toggle="collapse"-->
              <!--data-target="#collapseRepairJobDetailList" aria-expanded="true">-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div id="collapseRepairJobDetailList" class="panel-collapse collapse in">-->
    <!--<grid-table [fieldGrid]="repairJobField"-->
                <!--(callbackGrid)="callbackGridRJ($event)"-->
                <!--(getParams)="getParamsRJ()"-->
                <!--[footerData]="repairJobFooter"-->
                <!--[showPagination]="false"-->
                <!--[height]="'150px'"-->
    <!--&gt;</grid-table>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
    <!--<i class="fa fa-info"></i>-->
    <!--Danh sách phụ tùng-->
    <!--<div class="panel-tools">-->
      <!--<button type="button" class="btn btn-link" data-toggle="collapse"-->
              <!--data-target="#collapseRepairJobDetailPart" aria-expanded="true">-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div id="collapseRepairJobDetailPart" class="panel-collapse collapse in">-->
    <!--<grid-table [fieldGrid]="partField"-->
                <!--(callbackGrid)="callbackGridParts($event)"-->
                <!--[footerData]="partFooter"-->
                <!--[showPagination]="false"-->
                <!--[height]="'200px'"-->
    <!--&gt;</grid-table>-->
  <!--</div>-->
<!--</div>-->
<general-repair-storage-job  [proposalForm]="form"></general-repair-storage-job>
<dong-son-job-package  [proposalForm]="form"></dong-son-job-package>
<accessory-job-package  [proposalForm]="form"></accessory-job-package>
