<div class="modal fade" bsModal #sendClaimModal="bs-modal" (onHidden)="reset()">
  <div class="modal-dialog xl-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Phiếu gửi claim</h5>
      </div>
      <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-info"></i>
                  Danh sách claim
                  <div class="panel-tools">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseClaimsList"
                      aria-expanded="true">
                    </button>
                  </div>
                </div>
                <div id="collapseClaimsList" class="panel-collapse collapse in">
                  <grid-table [fieldGrid]="fieldClaims" [height]="'200px'" (callbackGrid)="callBackClaims($event)"
                    (getParams)="getParamsClaims()">
                  </grid-table>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-info"></i>
                  Chi tiết
                  <div class="panel-tools">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseClaimDetail"
                      aria-expanded="true">
                    </button>
                  </div>
                </div>
                <div id="collapseClaimDetail" class="panel-collapse collapse in">
                  <form [formGroup]="claimInvoiceForm" *ngIf="claimInvoiceForm" novalidate autocomplete="off"
                    class="mt-2 mb-2 mr-2 ml-2">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group input-group">
                          <span class="input-group-addon min-width" style="min-width: 80px; text-align: center;">Số ĐH</span>
                          <input type="text" class="form-control" formControlName="orderNo">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group input-group">
                          <span class="input-group-addon min-width">Số HĐ đỏ</span>
                          <input type="text" class="form-control" formControlName="invoiceNo">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <tmss-datepicker text="Ngày claim" formControlName="claimDate"></tmss-datepicker>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group input-group">
                          <span class="input-group-addon min-width" style="min-width: 80px; text-align: center;">Ghi chú</span>
                          <textarea class="form-control" rows="4" formControlName="dlrRemark"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="mt-2 mb-2 text-right">
                    <button class="btn btn-blue mr-2" [disabled]="disabledButton"
                      (click)="openAttachedFileModal()">Đính kèm</button>
                    <button class="btn btn-blue mr-2" [disabled]="disabledButton">Export</button>
                    <button class="btn btn-blue mr-2" [disabled]="disabledButton"
                      (click)="sendClaim()">Xác nhận</button>
                    <button class="btn btn-blue mr-2" [disabled]="disabledButton"
                      (click)="saveClaim()">Lưu</button>
                    <button class="btn btn-blue mr-2" [disabled]="disabledButton"
                      (click)="deleteClaim()">Hủy bỏ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <grid-table [fieldGrid]="fieldParts" [height]="'300px'" [showPagination]="false"
            (callbackGrid)="callBackParts($event)"></grid-table>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
<approval-claim-modal #approvalClaimModal></approval-claim-modal>