<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()">
  <div class="modal-dialog" [ngClass]="modalClass ? modalClass : ''">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onCancelBtn()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{headerText || 'Chọn loại báo cáo cần lưu'}}</h5>
      </div>
      <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
        <div class="modal-body">
          <form [formGroup]="form" *ngIf="form">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Loại báo cáo</span>
                <select class="form-control" formControlName="extension">
                  <option value="xls">XLS</option>
                  <option value="doc">DOC</option>
                  <option value="pdf">PDF</option>
                  <option value="rtf">RTF</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </perfect-scrollbar>
      <div class="modal-footer">
        <button type="button" class="btn btn-blue" #btn (click)="confirm()">
          <i class="fa fa-check"></i> Đồng ý
        </button>
        <button type="button" class="btn btn-light-grey" (click)="onCancelBtn()">
          <i class="fa fa-times"></i> Hủy
        </button>
      </div>
    </div>
  </div>
</div>
