<div class="modal fade" bsModal #modelListModal="bs-modal" (onHidden)="reset()">
  <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" *ngIf="!selectedData">Add New Model</h5>
          <h5 class="modal-title" *ngIf="selectedData">Update Model</h5>
        </div>

        <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-6" hasError="marketingCode">
                <div class="input-group">
                  <label class="input-group-addon" addonWidth="105px">Marketing Code</label>
                  <input type="text" formControlName="marketingCode" class="form-control required" autoFocusField>
                </div>
                <div class="error-messages" errorMessage>
                  <div *ifError="'required'">Marketing Code is required</div>
                  <div *ifError="'maxLength'">Max length is 50</div>
                </div>
              </div>
              <div class="form-group col-md-6" hasError="productionCode">
                <div class="input-group">
                  <label class="input-group-addon" addonWidth="105px">Production Code</label>
                  <input type="text" formControlName="productionCode" class="form-control required">
                </div>
                <div class="error-messages" errorMessage>
                  <div *ifError="'required'">Production Code is required</div>
                  <div *ifError="'maxLength'">Max length is 50</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6" hasError="enName">
                <div class="input-group">
                  <label class="input-group-addon" addonWidth="105px">En Name</label>
                  <input type="text" formControlName="enName" class="form-control">
                </div>
                <div class="error-messages" errorMessage>
                  <div *ifError="'maxLength'">Max length is 50</div>
                </div>
              </div>
              <div class="form-group col-md-6" hasError="vnName">
                <div class="input-group">
                  <label class="input-group-addon" addonWidth="105px">Vn Name</label>
                  <input type="text" formControlName="vnName" class="form-control">
                </div>
                <div class="error-messages" errorMessage>
                  <div *ifError="'maxLength'">Max length is 50</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6" hasError="ordering">
                <div class="input-group">
                  <label class="input-group-addon" addonWidth="105px">Ordering</label>
                  <input type="text" formControlName="ordering" class="form-control">
                </div>
                <div class="error-messages" errorMessage>
                  <div *ifError="'numberFormat'">Ordering must be a number</div>
                  <div *ifError="'maxLength'">Max length is 4</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="input-group">
                  <label class="input-group-addon" addonWidth="105px">Status</label>
                  <select formControlName="status" class="form-control">
                    <option value="Y">Enabled</option>
                    <option value="N">Disabled</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group" hasError="description">
              <div class="input-group">
                <label class="input-group-addon" addonWidth="105px">Description</label>
                <textarea formControlName="description" class="form-control resize-vertical" rows="4"></textarea>
              </div>
              <div class="error-messages" errorMessage>
                <div *ifError="'maxLength'">Max length is 255</div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="modal-footer">
          <button type="submit" class="btn btn-blue" (click)="save()">
            <i class="fa fa-save"></i> Save
          </button>
          <button type="button" class="btn btn-blue" (click)="modal.hide()">
            <i class="fa fa-times"></i> Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
