<div class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()" [config]="{ignoreBackdropClick : 'Disable'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cập nhật giá theo tỷ lệ</h5>
      </div>
      <perfect-scrollbar [style.max-height.px]="modalHeight" (window:resize)="onResize()">
        <div class="modal-body">
          <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off" class="mb-3" focusField>
            <div class="form-group" hasError>
              <div class="input-group">
                <span class="input-group-addon">Tỷ lệ(%)</span>
                <input class="form-control" formControlName="ratio">
              </div>
              <div class="error-messages" errorMessage>
                <div *ifError="'numberFormat'">Giá trị nhập vào phải là số</div>
              </div>
            </div>
          </form>
        </div>
      </perfect-scrollbar>
      <div class="modal-footer">
        <button type="submit" class="btn btn-blue" (click)="update()"><i class="fa fa-save"></i> Cập nhật</button>
        <button class="btn btn-light-grey" (click)="modal.hide()"><i class="fa fa-times"></i> Đóng</button>
      </div>
    </div>
  </div>
</div>
