<div class="modal fade" bsModal #dealerIpConfigModal="bs-modal" (onHidden)="reset()">
  <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
    <div class="modal-dialog lg-width">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{selectedData ? 'Update Dealer Ip Config' : 'Add new Dealer Ip Config'}}</h5>
        </div>
        <perfect-scrollbar class="ps" [style.max-height.px]="modalHeight" (window:resize)="onResize()">
          <div class="modal-body">
            <div class="form-group" hasError="dealer" *ngIf="dealerList">
              <label class="required">Dealer</label>
              <multi-column-select-control formControlName="dealer"
                                           displayField="abbreviation"
                                           [fieldGrid]="dealerGridField"
                                           [list]="dealerList">
              </multi-column-select-control>
              <div class="error-messages" errorMessage>
                <div *ifError="'required'">Yêu cầu nhập dealer</div>
              </div>
            </div>
            <div class="form-group" hasError="ipClass">
              <label>Địa chỉ IP</label>
              <input type="text" class="form-control" formControlName="ipClass">
              <div class="error-messages" errorMessage>
                <div *ifError="'maxLength'">Độ dài tối đa là 50</div>
              </div>
            </div>
            <div class="form-group" hasError="ipClass">
              <label>Địa chỉ IP</label>
              <input type="text" class="form-control" formControlName="ipClass">
              <div class="error-messages" errorMessage>
                <div *ifError="'maxLength'">Độ dài tối đa là 50</div>
              </div>
            </div>

          </div>
        </perfect-scrollbar>
        <div class="modal-footer">
          <button type="submit" class="btn btn-blue" (click)="save()">
            <i class="fa fa-save"></i> Lưu
          </button>
          <button type="button" class="btn btn-light-grey" (click)="modal.hide()">
            <i class="fa fa-times"></i> Hủy
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
