<div pageTitle="Sales Person">
  <div class="grid-table-area mt-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        Staffs
        <div class="panel-tools">
          <button role="button" class="btn btn-xs btn-link panel-refresh" (click)="refreshList()">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
      </div>
      <grid-table [fieldGrid]="fieldGrid"
                  (callbackGrid)="callbackGridSalesPerson($event)"
                  (getParams)="getParamsSalesPerson()"
                  [showPagination]="false"
                  [height]="'450px'"
      ></grid-table>
      <div class="panel-footer text-right">
        <button class="btn btn-blue mr-2" (click)="salesPersonModal.open()">
          <i class="fa fa-plus"></i> Add
        </button>
        <button class="btn btn-blue mr-2" (click)="updateSalesPerson()">
          <i class="fa fa-pencil"></i> Edit
        </button>
        <button class="btn btn-blue" [disabled]="!selectedSalesPerson" (click)="deleteSalePerson()">
          <i class="fa fa-trash-o"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>
<sales-person-detail #salesPersonModal (close)="refreshList()"></sales-person-detail>
