.mw-63 {
  .input-group-addon {
    min-width: 63px;
    text-align: center;
  }
}
.mw-78 {
  .input-group-addon {
    min-width: 78px;
    text-align: center;
  }
}

.mw-86 {
  .input-group-addon {
    min-width: 86px;
    text-align: center;
  }
}

.mw-136 {
  .input-group-addon {
    min-width: 136px;
    text-align: center;
  }
}

.mr-20 {
  margin-right: 20px;
}
.max-width{
  max-width: 100px !important;
}
.padding{
  padding-right: 5px;
  padding-left: 5px;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.width-12 {
  width: 12%;
}

.table-inline-left {
  width: 45%;
  float: left;
}

.table-inline-right {
  width: 45%;
  float: right;
}

.mw-135 {
  min-width: 135px;
}

.width-37 {
  width: 37.5%;
}

.text-bold {
  font-weight: bold;
}

.ml-14 {
  margin-left: 14px;
}

.mr-10 {
  margin-right: 10px;
}

.stop-time {
  width: 143px;
  margin-right: -1px !important;
}

.mr-80 {
  margin-right: 80px;
}

.w-10-percent {
  width: 10%;
}

.mt-6px {
  margin-top: 6px !important;
}

.ml-2px {
  margin-left: -2px;
}
.modal-dialog-centered {
  top: 30%;
}